.accordion#mainAccordian
  .accordion-item
    %h2.accordion-header#topic-1
      %button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse1")= "Topic 1"
    #collapse1.accordion-collapse.collapse
      .accordion-body
        .accordion#innerAccordion1
          .accordion-item
            %h2.accordion-header#topic-1-new
              %button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-new")= "New"
            #collapse-1-new.accordion-collapse.collapse
              .accordion-body
                %p= "New articles go here!"
          .accordion-item
            %h2.accordion-header#topic-1-read
              %button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1-read")= "Read"
            #collapse-1-read.accordion-collapse.collapse
              .accordion-body
                %p= "Read articles go here!"
