.accordion#topicAccordion    
- ResearchTopic.all.each.with_index do |topic, topic_number|
  .accordion-item
    %h2.accordion-header{ id: "topic-#{topic_number}" }
      %button.accordion-button.collapsed{type: "button", data: { bs: { toggle: "collapse", target: "#topicCollapse-#{topic_number}" } }, aria: { expanded: "false", controls: "topicCollapse-#{topic_number}" } }= topic.title
    .accordion-collapse.collapse{ id: "topicCollapse-#{topic_number}", aria: { labelledby: "topic-#{topic_number}" } }
      .accordion-body
        .accordion{ id: "topic-#{topic_number}-innerAccordion" }
          .accordion-item
            %h2.accordion-header{ id: "topic-#{topic_number}-searchTerms" }
              %button.accordion-button.collapsed{type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-searchTermsCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-searchTermsCollapse" } }= "Search Terms"
            .accordion-collapse.collapse{ id: "topic-#{topic_number}-searchTermsCollapse", aria: { labelledby: "topic-#{topic_number}-searchTerms" } }
              .accordion-body
                %ul
                - topic.search_terms.each do |term|
                  %li= term.term
          .accordion-item
            %h2.accordion-header{ id: "topic-#{topic_number}-articles" }
              %button.accordion-button.collapsed{type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-articlesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-articlesCollapse" } }= "Articles"
            .collapse.accordion-collapse{ id: "topic-#{topic_number}-articlesCollapse", aria: { labelledby: "topic-#{topic_number}-articles" } }
              .accordion-body
                - if topic.research_articles.length == 0
                  %p= "There were no articles found for your search"
                - else
                  .accordion{ id: "topic-#{topic_number}-articlesAccordion" }
                    .accordion-item
                      %h2.accordion-header{ id: "topic-#{topic_number}-new" }
                        %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-newArticlesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-newArticlesCollapse" } }= "New"
                      .collapse.accordion-collapse{ id: "topic-#{topic_number}-newArticlesCollapse" , aria: { labelledby: "topic-#{topic_number}-new" } }
                        .accordion-body
                          .accordion{ id: "topic-#{topic_number}-newAccordion" }
                            - topic.research_articles.where(status: "new").each.with_index do |article, article_number|
                              .accordion-item
                                %h2.accordion-header{ id: "topic-#{topic_number}-newArticle-#{article_number}" }
                                  %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-newArticle-#{article_number}-collapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-newArticle-#{article_number}-collapse" } }= article.title
                                .collapse.accordion-collapse{ id: "topic-#{topic_number}-newArticle-#{article_number}-collapse", aria: { labelledby: "topic-#{topic_number}-newArticle-#{article_number}" } }
                                  .accordion-body
                                    .accordion{ id: "topic-#{topic_number}-newArticle-#{article_number}-accordion" }
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-newArticle-#{article_number}-summary" }
                                          %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-newArticle-#{article_number}-summaryCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-newArticle-#{article_number}-summaryCollapse" } }= "Summary"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-newArticle-#{article_number}-summaryCollapse", aria: { labelledby: "topic-#{topic_number}-newArticle-#{article_number}-summary" } }
                                          .accordion-body
                                            %p= article.summary
                                            %a{ href: article.api_id }= "Read Full Article"
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-newArticle-#{article_number}-notes" }
                                          %button.accordion-button.collapsed{type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-newArticle-#{article_number}-notesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-newArticle-#{article_number}-notesCollapse" } }= "Notes"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-newArticle-#{article_number}-notesCollapse", aria: { labelledby: "topic-#{topic_number}-newArticle-#{article_number}-notes" } }
                                          .accordion-body
                                            = form_for(article) do |f|
                                              .mb-3
                                                = f.text_area :notes, class: "form-control", rows: "10"
                                              = f.submit "Save", class: "btn btn-primary"
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-newArticle-#{article_number}-status" }
                                          %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-newArticle-#{article_number}-statusCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-newArticle-#{article_number}-actionsCollapse" } }= "Actions"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-newArticle-#{article_number}-statusCollapse", aria: { labelledby: "topic-#{topic_number}-newArticle-#{article_number}-actions" } }
                                          .accordion-body
                                            = form_for(article) do |f|
                                              .mb-3
                                                = f.label :status
                                                = f.select :status, [["New", { selected: true, disabled: true}], "Saved", "Read", "Not Interested"], class: "form-select"
                                              = f.submit "Update", class: "btn btn-primary"
                    .accordion-item
                      %h2.accordion-header{ id: "topic-#{topic_number}-saved" }
                        %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-savedArticlesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-savedArticlesCollapse" } }= "Saved"
                      .collapse.accordion-collapse{ id: "topic-#{topic_number}-savedArticlesCollapse", aria: { labelledby: "topic-#{topic_number}-saved" } }
                        .accordion-body
                          .accordion{ id: "topic-#{topic_number}-savedAccordion" }
                            - topic.research_articles.where(status: "saved").each.with_index do |article, article_number|
                              .accordion-item
                                %h2.accordion-header{ id: "topic-#{topic_number}-savedArticle-#{article_number}" }
                                  %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-savedArticle-#{article_number}-collapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-savedArticle-#{article_number}-collapse" } }= article.title
                                .collapse.accordion-collapse{ id: "topic-#{topic_number}-savedArticle-#{article_number}-collapse", aria: { labelledby: "topic-#{topic_number}-savedArticle-#{article_number}" } }
                                  .accordion-body
                                    .accordion{ id: "topic-#{topic_number}-savedArticle-#{article_number}-accordion" }
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-savedArticle-#{article_number}-summary" }
                                          %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-savedArticle-#{article_number}-summaryCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-savedArticle-#{article_number}-summaryCollapse" } }= "Summary"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-savedArticle-#{article_number}-summaryCollapse", aria: { labelledby: "topic-#{topic_number}-savedArticle-#{article_number}-summary" } }
                                          .accordion-body
                                            %p= article.summary ? article.summary : "Article summary is not available."
                                            %a{ href: article.api_id }= "Read Full Article"
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-savedArticle-#{article_number}-notes" }
                                          %button.accordion-button.collapsed{type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-savedArticle-#{article_number}-notesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-savedArticle-#{article_number}-notesCollapse" } }= "Notes"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-savedArticle-#{article_number}-notesCollapse", aria: { labelledby: "topic-#{topic_number}-savedArticle-#{article_number}-notes" } }
                                          .accordion-body
                                            %p= "A text box to record notes will go here"
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-savedArticle-#{article_number}-status" }
                                          %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-savedArticle-#{article_number}-statusCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-savedArticle-#{article_number}-actionsCollapse" } }= "Actions"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-savedArticle-#{article_number}-statusCollapse", aria: { labelledby: "topic-#{topic_number}-savedArticle-#{article_number}-actions" } }
                                          .accordion-body
                                            %p= "Buttons will go here to mark as read, save for later, and mark not interested"
                    .accordion-item
                      %h2.accordion-header{ id: "topic-#{topic_number}-read" }
                        %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-readArticlesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-readArticlesCollapse" } }= "Read"
                      .collapse.accordion-collapse{ id: "topic-#{topic_number}-readArticlesCollapse", aria: { labelledby: "topic-#{topic_number}-read" } }
                        .accordion-body
                          .accordion{ id: "topic-#{topic_number}-readAccordion" }
                            - topic.research_articles.where(status: "read").each.with_index do |article, article_number|
                              .accordion-item
                                %h2.accordion-header{ id: "topic-#{topic_number}-readArticle-#{article_number}" }
                                  %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-readArticle-#{article_number}-collapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-readArticle-#{article_number}-collapse" } }= article.title
                                .collapse.accordion-collapse{ id: "topic-#{topic_number}-readArticle-#{article_number}-collapse", aria: { labelledby: "topic-#{topic_number}-readArticle-#{article_number}" } }
                                  .accordion-body
                                    .accordion{ id: "topic-#{topic_number}-readArticle-#{article_number}-accordion" }
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-readArticle-#{article_number}-summary" }
                                          %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-readArticle-#{article_number}-summaryCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-readArticle-#{article_number}-summaryCollapse" } }= "Summary"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-readArticle-#{article_number}-summaryCollapse", aria: { labelledby: "topic-#{topic_number}-readArticle-#{article_number}-summary" } }
                                          .accordion-body
                                            %p= article.summary ? article.summary : "Article summary is not available."
                                            %a{ href: article.api_id }= "Read Full Article"
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-readArticle-#{article_number}-notes" }
                                          %button.accordion-button.collapsed{type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-readArticle-#{article_number}-notesCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-readArticle-#{article_number}-notesCollapse" } }= "Notes"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-readArticle-#{article_number}-notesCollapse", aria: { labelledby: "topic-#{topic_number}-readArticle-#{article_number}-notes" } }
                                          .accordion-body
                                            %p= "A text box to record notes will go here"
                                      .accordion-item
                                        %h2.accordion-header{ id: "topic-#{topic_number}-readArticle-#{article_number}-status" }
                                          %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#topic-#{topic_number}-readArticle-#{article_number}-statusCollapse" } }, aria: { expanded: "false", controls: "topic-#{topic_number}-readArticle-#{article_number}-statusCollapse" } }= "Actions"
                                        .collapse.accordion-collapse{ id: "topic-#{topic_number}-readArticle-#{article_number}-statusCollapse", aria: { labelledby: "topic-#{topic_number}-readArticle-#{article_number}-actions" } }
                                          .accordion-body
                                            %p= "Buttons will go here to mark as read, save for later, and mark not interested"
