.container.my-4
  %h1.mb-4.border-bottom.border-3.border-dark.pb-2= "Login"
  .row.justify-content-between
    .col-md-5
      = form_tag '/login' do
        .mb-3
          %label.form-label(for="username")= "Username"
          %input.form-control#username(name="username")
        .mb-3
          %label.form-label(for="password")= "Password"
          %input.form-control#password(type="password" name="password")
        %button.btn.btn-primary(type="submit")= "Login"
    .col-md-5
      = image_tag "compass.png", alt: "compass", class: "img-fluid"
     
