.container.my-4
  %h1.mb-4.border-bottom.border-3.border-dark.pb-2= "Forgot Password"
  .row.justify-content-between
    .col-md-5
      %h5= "A link to reset your password will be sent to you."
      = form_tag '/reset_password' do
        .mb-3
          %label.form-label(for="email")= "Email"
          %input.form-control#email(name="email")
        %button.btn.btn-primary(type="submit")= "Send Link"
    .col-md-5
      = image_tag "compass.png", alt: "compass", class: "img-fluid"
= render 'shared/info_modal_main'
          
