.container.my-4
  %h1.mb-4.border-bottom.border-3.border-dark.pb-2= "Reset Password"
  .row.justify-content-between
    .col-md-5
      = render 'shared/errors', resource: @user
      = form_tag '/reset_password' do
        .mb-3
          %label.form-label(for="user[password]")= "New Password"
          %input.password.form-control#password(name="user[password]")
          %input(type="hidden" name="user[token]" value="#{@user.token}")
        %button.btn.btn-primary(type="submit")= "Reset Password"
= render 'shared/info_modal_main'
