.container.my-4
  %h1.mb-4.border-bottom.border-3.border-dark.pb-2= "My Account"
  .row.justify-content-between
    .col-md-5
      = link_to "Edit Details", edit_user_path(@user), class: "btn btn-primary mb-4"
      %h5.mb-3= "Username: #{@user.username}"
      %h5.mb-3= "Email: #{@user.email}"
    .col-md-5
      = image_tag "compass.png", alt: "compass", class: "img-fluid"
= render 'shared/info_modal_main' 
