.modal#infoModal{ tabindex: "-1" }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title.text-dark= "About InfoCompass"
      .modal-body
        %p.fs-5.mb-3.text-dark= "- InfoCompass is a website that helps you stay up to date on the things you care about."
        %p.fs-5.mb-3.text-dark= "- It is divided into 4 sections: Research Topics, News, Books, and Music."
        %p.fs-5.mb-3.text-dark= "- Only the Research Topics section is functional right now, but the other sections will come online in time."
        %p.fs-5.mb-3.text-dark= "- Enter a topic, author, or musical artist taht you are interested in, and the relevant API's will be queried every 24 hours to check if there is a new article, book, or song to show you."
        %p.fs-5.mb-3.text-dark= "- This website is still a work in progress, but I hope you find it useful."
        %p.fs-5.mb-3.text-dark= "- The source code is available #{link_to "here", "https://github.com/Calvin0125/info_compass"} if you're curious.".html_safe
