%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.text-light.mx-3.text-danger.display-6(href="#") InfoCompass
  - if logged_in?
    %button.navbar-toggler#navbarToggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarContent
      %ul.navbar-nav.d-flex.w-100
        %li.nav-item.dropdown.me-4.ms-3
          %a.nav-link.dropdown-toggle.h5#accountDropdownLink(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")= "Welcome, #{current_user.username}"
          %ul.dropdown-menu.dropdown-menu-dark(aria-labelledby="accountDropdownLink")
            %li
              = link_to("My Account", my_account_path, class: "dropdown-item h5")
            %li
              = link_to("Sign Out", logout_path, method: :delete, class: "dropdown-item h5")
        %li.nav-item
          = link_to "Research Topics", research_topics_path, class: "nav-link h5 ms-3 ms-lg-0"
        %li.nav-item
          = link_to "News", "#", class: "nav-link h5 ms-3 ms-lg-0"
        %li.nav-item
          = link_to "Books", "#", class: "nav-link h5 ms-3 ms-lg-0"
        %li.nav-item
          = link_to "Music", "#", class: "nav-link h5 ms-3 ms-lg-0"
        %li.nav-item.ms-auto.me-2
          %a{ type: "button", class: "nav-link h5", data: { bs: { toggle: "modal", target: "#aboutModal" } } }= "About"
  - else
    %ul.navbar-nav.d-flex.ms-auto
      %li.nav-item.me-2
        %i.nav-link.h3.bi.bi-question-circle{ type: "button", data: { bs: { toggle: "modal", target: "#aboutModal" } } }

