%nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  %a.navbar-brand.ms-3(href="#") InfoCompass
  - if logged_in?
    %button.navbar-toggler#navbarToggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation")
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarContent
      %ul.navbar-nav
        %li.nav-item.dropdown.me-4
          %a.nav-link.dropdown-toggle#accountDropdownLink(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")= "Welcome, #{current_user.username}"
          %ul.dropdown-menu.dropdown-menu-dark(aria-labelledby="accountDropdownLink")
            %li
              = link_to("My Account", my_account_path, class: "dropdown-item")
            %li
              = link_to("Sign Out", logout_path, method: :delete, class: "dropdown-item")
        %li.nav-item
          = link_to "Research Topics", research_topics_path, class: "nav-link"
        %li.nav-item
          = link_to "News", "#", class: "nav-link"
        %li.nav-item
          = link_to "Books", "#", class: "nav-link"
        %li.nav-item
          = link_to "Music", "#", class: "nav-link"
