%h2= "Summary"
%p= article.summary
%a.btn.btn-primary{ href: article.api_id, role: "button"}= "Read Full Article"
= form_for(article) do |f|
  .mb-3
    = f.text_area :notes, class: "form-control", rows: "10"
  = f.submit "Save", class: "btn btn-primary"
= form_for(article) do |f|
  .mb-3
    = f.label :status
    = f.select :status, [["New", "new", { selected: true, disabled: true}], ["Saved", "saved"], ["Read", "read"], ["Not Interested", "not interested"]], class: "form-select"
  = f.submit "Update", class: "btn btn-primary"

