%h2= "Summary"
%p= article.summary
= form_for(article) do |f|
  .mb-3
    = f.text_area :notes, class: "form-control", rows: "10"
.row.gy-3.justify-content-evenly.justify-content-md-start
  .col-auto
    %button.btn.btn-primary{ form: "edit_research_article_#{article.id}" }= "Save Notes"
  - if article.status == "new"
    .col-auto
      = form_for(article) do |f|
        = f.hidden_field(:status, value: "saved")
        = f.submit "Save For Later", class: "btn btn-primary"
  - if article.status == "new" || article.status == "saved"
    .col-auto
      = form_for(article) do |f|
        = f.hidden_field(:status, value: "read")
        = f.submit "Mark As Read", class: "btn btn-primary"
  - if article.status == "read"
    .col-auto
      = form_for(article) do |f|
        = f.hidden_field(:status, value: "saved")
        = f.submit "Mark Unread", class: "btn btn-primary"
  .col-auto
    %button.btn.btn-primary{type: "button", data: { bs: { toggle: "modal", target: "#notInterestedArticle-#{article.id}" } } }= "Not Interested"
    .modal{ id: "notInterestedArticle-#{article.id}", tabindex: "-1" }
      .modal-dialog
        .modal-content
          .modal-body
            %p= "Are you sure you want to mark <em>#{article.title}</em> as 'Not Interested'? You will not see this article again.".html_safe
            .row.gy-3
              .col-auto
                = form_for(article) do |f|
                  = f.hidden_field(:status, value: "not interested")
                  = f.submit "Not Interested", class: "btn btn-dark"
              .col-auto
                %button.btn.btn-dark{ data: { bs: { dismiss: "modal" } } }= "Cancel"
  .col-auto
    %a.btn.btn-primary{ href: article.url, role: "button"}= "Read Full Article"
