%h1.text-center.text-dark.mt-4= "Welcome To InfoCompass"
%h4.text-center.text-dark.mt-3= "Find your way to the information you need"
.container.w-25
  = image_tag "compass.png", alt: "compass", class: "img-fluid"
.w-100.d-block.d-sm-none.pb-3
.container.w-50
  .row.justify-content-between.mt-4 
    .col-auto  
      = link_to "Sign Up", new_user_path, class: "btn btn-primary fs-5"
    .col-auto
      = link_to "Login", login_path, class: "btn btn-primary fs-5"
.w-100.d-block.d-sm-none.pb-4
.container-fluid.m-0.mt-5.pb-3.pt-2.bg-secondary
  %h4.text-center.text-dark.my-3= "Powered By"
  .row.px-4.justify-content-around
    .col-2.col-lg-1
      = image_tag "ruby.png", alt: "Ruby logo", class: "img-fluid"
    .col-2.col-lg-1
      = image_tag "rails.png", alt: "Ruby on Rails logo", class: "img-fluid"
    .col-2.col-lg-1
      = image_tag "bootstrap.png", alt: "Bootstrap logo", class: "img-fluid"
    .w-100.d-block.d-md-none.mb-3
    .col-2.col-lg-1
      = image_tag "haml.png", alt: "Haml logo" , class: "img-fluid"
    .col-2.col-lg-1
      = image_tag "postgresql.png", alt: "PostgreSQL logo", class: "img-fluid"
    .col-2.col-lg-1
      = image_tag "arxiv.png", alt: "Arxiv logo", class: "img-fluid"
