!!! 5
%html(lang="en-US")
  %head
    %title InfoCompass - Find the information you want
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turblinks-track": "reload"
    = javascript_pack_tag "application"
  %body
    = render "shared/navigation" 
    = render "shared/messages"
    = yield
