!!! 5
%html(lang="en-US")
  %head
    %title InfoCompass - Find the information you want
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_pack_tag "application"
    = javascript_pack_tag "application"
  %body.bg-info
    - if logged_in?
      = auto_session_timeout_js
    = render "shared/navigation" 
    = render "shared/messages"
    = yield
